.pod-page-contact{
    .wrapper{
        margin-top:100px;
    }
    .contact-details{
        max-width:1400px;
        margin:0 auto;
        display:block;

        p{
            text-align:center;
        }

        .halves{
            border-bottom:1px solid $light-grey;

            img{
                max-width:705px;
            }

            &:first-child .content{
                border:0;
            }

            .content{
                padding-bottom:50px;
                border-left:1px solid $light-grey;

                &.new-york{
                    padding:87px 0;
                    .address{
                        padding:0 0 40px 0;
                    }
                    .phone{
                        display:none;
                    }
                }
            }
        }

        ul.address{
            padding: 40px 0 0 0;
        }

        ul.address, ul.phone{
            margin:0 auto;

            li{
                text-align:center;
                list-style:none;
                position:relative;
            }
        }

        ul.phone{
            padding:20px 0 40px 0;

            .icon-phone{
                position:relative;

                &.second{
                    margin-top:10px;
                }

                .text{
                    position:relative;
                    padding-left:30px;
                }

                &:before{
                    content: "\e604";
                    font-size:1.375rem;
                    color:$blue;
                    position:absolute;
                }
            }
        }

        ul.buttons{
            text-align:center;
            li{
                display:inline-block;
                margin:0 5px;

                .button{
                    margin:0;
                }
            }
        }
    }

    .icon-facebook{
        font-size:1.375rem;
        margin:0 auto;
        padding-top:40px;
        display:block;
        text-align:center;
        text-decoration:none;

        &:hover{
            .path1:before{
                color:$black;
            }
        }

        .path1:before{
            content: "\e600";
            color: $blue;
        }
        .path2:before{
            content: "\e601";
            color: rgb(255, 255, 255);
            margin-left: -1em;
        }
    }
}

//fancybox
.fancybox-overlay{
    overflow:hidden !important;
    z-index:200000;
}

.fancybox-skin .fancybox-close{
    @include background(image-url('close-button.png'));
    top:30px;
    right:30px;
    width:48px;
    height:51px;
}

//media queries
@media only screen and (max-width:1200px){
    .pod-page-contact{
        .contact-details {
            ul.address{
                width:35%;
            }
        }
    }
}

@media only screen and (max-width:960px){
    .pod-page-contact{
        .contact-details{
            ul.address{
                width:45%;
            }
        }
    }
}

@media only screen and (max-width:768px){
    .pod-page-contact{
        .contact-details{
            .halves{
                width:100%;
                img{
                    max-width:100%;
                }
            }
        }
    }
}